<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- Required for Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" /> <!-- Required for Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" /> <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Required for BLE -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Required for BLE -->
    <!-- Bluetooth LE feature -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Merchantqrcode"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">
        <activity
            android:name=".ContactScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ScanQRActivity"
            android:exported="false" />
        <activity
            android:name=".DetailScreen.ServiceRequestDetails"
            android:exported="false" />
        <activity
            android:name=".TwoFactorAuthentication"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TransactionStatement"
            android:exported="false" />
        <activity
            android:name=".PosterAddScreen"
            android:exported="false" />
        <activity
            android:name=".PosterScreen"
            android:exported="false" />
        <activity
            android:name=".DetailScreen.FeesDetails"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScreenLockActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="false" />

        <service android:name=".AppMonitorService" />

        <activity
            android:name=".DetailScreen.TransactionDetails"
            android:exported="false" />
        <activity
            android:name=".NewPassword"
            android:exported="false" />
        <activity
            android:name=".DetailScreen.NotifyDetailsScreen"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminScreens.NotificationScreen"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminScreens.AlertScreen"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DetailScreen.CustomerDetails"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminScreens.ServiceRequest"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DetailScreen.ChargeBackDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DetailScreen.Ratedetails"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DetailScreen.DeviceDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DetailScreen.UserDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminScreens.FeesAndCharge"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminScreens.CustomerTransaction"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminScreens.Chargebacks"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminScreens.RateMaintance"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminScreens.DeviceManagement"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminScreens.Usermanagement"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminScreens.AdminActivity"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InitiatePayment"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".forgetotpactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".forgetpasswordactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DynamicQRActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StaticQRActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".faqactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profileactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TransactionHistoryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".Service.StaticSoundBoxService"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>